

$breakpoints: (
    "xs": 0,
    "sm": 370px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
  );
  
  @mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
      @content;
    }
  }
  
  @mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
      @content;
    }
  }
  
  @mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
      @content;
    }
  }
  
  @mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
      @content;
    }
  }
  
  @mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
      @content;
    }
  }
  
  @mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
      @content;
    }
  }


  .aboutStyles{
   
    font-family: 'Poppins';
    @include xs {
      
    }


    @include sm {
        
        .about_heading{
            margin-top: 120px;
            padding: 0 1em;
            font-size: xx-large;
            font-family: 'Poppins';
            line-height: 35px;
        
            .greetings{
                h1{
                    font-weight: bold;
                    font-family: 'Raleway';
                    font-weight: 900;
                }
                p{
                    
                    margin-top: 20px;
                    font-size: small;
                    line-height: 20px;
                }
            }
            .Introduction{
                display: none;
            }
            .Image{
                width: 100%;
                height: auto;
                margin-top: 20px;
            }
        }
        
        .About_Me{
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0 2.3em;
            font-family: 'Poppins';
            font-size: small;
        
            div{
                p{
                    text-align: justify;
                    word-spacing: -2px;
                }   
            }
        }
        
        
        
        .Tools{
            font-family: 'Poppins';
            background-color: #131515;
            color: #f5f1ed;
            position: relative;
            
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: end;
        
            word-spacing: -10px;
            font-size: 5em;
            height: 50vh;
            font-weight: 900;
        }
        
        
        .Arrow_Direction{
            position: absolute;
            top: 60px;
            left: 0px;
        }
        
        .ToolsIUse{
            display: grid;
            padding: 1em 2em;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 10px;
        
            div{
                background-color: #eef0eb;
                height: 30vh;
            
            }
        
            .Web_dev{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-family: 'Raleway';
        
                .Title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: auto;
        
                    h3{
                        font-weight: 900;
                        font-size: large;
                    }
                    p{
                        font-size: small;
                        opacity: 75%;
                        text-align: center;
                        padding: 0 20px;
                    }
                }
            }
        }
        
    }
    
    @include md {
    color: black;
    .about_heading{
        font-family: 'Arial';
        .greetings{
            font-size: 4rem;
            line-height: 60px;
            h1{
                font-weight: 100;
                font-family: 'Arial';
                margin-bottom: 30px;
                opacity: 75%;
            }
            h4{
                line-height: 70px;
            }
            .descriptions{
                position: relative;
                display: flex;
                justify-content: flex-end;
                width: 70%;
                font-size: 1.4rem;
                line-height: 35px;
                opacity: 90%;

                top: 70px;
                left: 8em;
                right: 0;
                bottom: 50px;
                text-align: right;
            }

            .divImage{
                margin-top: 200px;
                position: relative;
                
                .IntroductionContainer{
                    display: block;
                    position: relative;
                    top: 0;
                    right: 1em;
                    font-size: 2rem;
                    font-weight: 600;
                    opacity: 70%;

                    .Quotes{
                        position: absolute;
                        top: 100px;
                        right: -40px;
                        text-align: right;
                        width: 48%;
                        font-style: italic;
                    }
                }
                .Image{
                    width: 50%;
                }
            }
        }
    }

    .About_Me{
        padding: 4em 2em;
        display: flex;
        justify-content: flex-end;
        div{

            width: 70%;
            line-height: 30px;

            p{
                font-size: 1rem;
            }
        }
        .myStory{
            padding: .2em 0;
            opacity: 70%;
        }

    }
        

    }
    @include lg {

    }

    @include xl {
        .descriptions{
            margin-left: 130px;
        }
        .greetings{
            h1, h4{
                width: 80%;
            }
        }
        .divImage{

            .IntroductionContainer{

                .Quotes{
                    margin-top: 200px;
                    font-size: 2rem;
                    line-height: 40px;
                    margin-right: 10px;
                }
            }

        }
    }

    @include breakpoint(1400px) {
        .descriptions{
            margin-left: 300px;
            width: 20%;
        }
        .divImage{
            margin-top: 200px;
            position: relative;
            
            .IntroductionContainer{
            

                .Quotes{
                    font-size: 3rem;
                    line-height: 70px;
                }
            }
            .Image{
                width: 30em;
            }
        }
    }
  }