.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    

    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edede9;

    h4{
        font-family: 'Poppins';
    }
    
}
.BurgerLines{
    display: flex;
    flex-direction: column;
    gap: 6px;

    .LongLine{
        width: 40px;
        height: 2px;
        background-color: black;
    }
    .ShortLine{
        width: 20px;
        height: 2px;
        background-color: black;
    }
}

.overlayMenu{
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;


    padding: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d5bdaf;
    z-index: 1;
    cursor: pointer;

    .closeMenu{
        position: absolute;
        top: 0;
        right: 0;
        padding: 2em 2.6em;

        font-size: medium;
    }

    li{
        list-style-type: none;
        font-family: 'Poppins';
        font-size: 30px;
    }
}

.MainContainer{
    margin-top: 100px;
    font-size: small;


    .Description{
        font-size: small;
        margin-bottom: 20px;
    }
    div{
        h1{
            font-weight: bold;
            font-size: large;
            margin-bottom: 20px;

            .star{
                background-color: yellow;
            }
        }
    }

}

.ImageContainer{
    width: 100%;
    
    .image{
        width: 100%;
        cursor: pointer;
    }
}



.footer{
    display: flex;
    gap: 2em;
    font-size: 8px;
    cursor: pointer;

    margin-top: 20px;
}