.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    

    padding: .4em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    
}
.BurgerLines{
    display: flex;
    flex-direction: column;
    gap: 4px;

    div{
        width: 40px;
        height: 2px;
        background-color: black;
    }
}

.overlayMenu{
    position: fixed;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;


    padding: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 230, 230);
    z-index: 1;
    cursor: pointer;

    .closeMenu{
        position: absolute;
        top: 0;
        right: 0;
        padding: 2.5em;

    }

    li{
        list-style-type: none;
       
    }
}

.MainContainer{
    margin-top: 100px;
    font-size: small;


    .Description{
        font-size: small;
    }
    div{
        h1{
            font-weight: bold;
        }
    }

}

.ImageContainer{
    width: 100%;
    height: auto;
    
    .image{
        width: 100%;
        cursor: pointer;
    }
}



.footer{
    display: flex;
    gap: 2em;
    font-size: 8px;
    cursor: pointer;
}