.LoadingPage{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-family: 'Poppins';
    font-size: 2rem;
}