.Heading{
    margin-top: 100px;
    padding: 1em 2em;
    font-family: 'Poppins';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 50vh;

    font-size: 50px;
    font-weight: bold;

    
}
